<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= material.description %>
  </p>

  <p>
    <strong>Unit of measurement:</strong>
    <%= material.unit_of_measurement %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= material.brand_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= material.category_id %>
  </p>

</div>
